body {
    font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    letter-spacing: -0.03em;
}

.navbar-brand {
    font-family: 'Shadows Into Light';
    font-size: 40px;
    margin: 0 0 20px;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 300px;
    background: url('./static/img/detroit-skyline.jpg') center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 48, 127, 0.5);
}
