/* Colors
BRIGHT_PINK: #df2d99
DARK_PINK: #b83e9f
BLUE: #2e3bca
*/

body {
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  letter-spacing: -0.03em;
}

a:hover {
  color: #b83e9f;
}

.button.is-link {
  background-color: #b83e9f;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 1.333rem 1rem;
}

.button.is-link:hover {
  background-color: #2e3bca;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #ccc;
}

.navbar-menu {
  box-shadow: none;
}

.section {
  padding: 0 0 5rem;
}

.section hr {
  width: 80%;
}

.section h3.title {
  text-transform: uppercase;
  color: #2e3bca;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 4rem;
}

.Hero {
  margin-bottom: 5rem;
}

.hero-body {
  background: linear-gradient(to right, #2e3bca, #df2d99);
  opacity: 0.9;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 400px;
  background-image: url('./static/img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  width: 461px;
  height: 75px;
  background-image: url('./static/img/hero-logo.png');
  background-size: 100%;
  text-indent: -9999em;
}

.hero-body {
  display: flex;
  align-items: center;
}

.hero-body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-body h5 {
  padding-top: 20px;
}

.hero-body h6 {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 3rem;
  margin-bottom: 5rem;
}

.GetInvolved .buttons {
  display: flex;
  justify-content: space-around;
}

.About .content {
  padding: 0 16rem;
}

.About .content p {
  margin-bottom: 1.5rem;
}

.About .content h4 {
  line-height: 1.7rem;
  margin-bottom: 3rem;
}

.footer .content p {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
  html,
  body {
    width: auto;
    min-width: auto;
  }

  .Home {
    padding-top: 72px;
  }

  .container {
    padding: 0 2rem;
  }

  .navbar .container {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .navbar-end {
    text-align: right;
  }

  .navbar-item {
    display: inline-block;
  }

  .logos {
    grid-template-columns: repeat(3, 1fr);
  }

  .About .content {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 667px) {
  html,
  body {
    width: auto;
    min-width: auto;
  }

  .container {
    padding: 0 1rem;
  }

  .App {
    display: block;
  }

  .Home {
    padding-top: 170px !important;
  }

  .section {
    padding-bottom: 3rem;
  }

  h3.title {
    font-size: 1.4rem;
  }

  .hero {
    min-height: 240px;
  }

  .hero h1 {
    width: 230px;
    height: 38px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .buttons a {
    margin-bottom: 24px;
    width: 80%;
  }

  .navbar-end {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    display: inline-block;
    font-size: 13px;
    padding: 1rem;
  }

  .logos {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos a {
    min-height: 120px;
  }

  .logos span {
    font-size: 12px;
  }

  .GetInvolved .buttons a {
    font-size: 14px;
  }

  .AddYourLogo .content {
    width: 100%;
  }

  .About .content {
    padding: 0 4rem;
  }
}
