body {
    font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    letter-spacing: -0.03em;
}

.navbar-brand {
    font-family: 'Shadows Into Light';
    font-size: 40px;
    margin: 0 0 20px;
}
